@inherits LayoutComponentBase
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <footer class="page-footer text-right font-small black fixed-bottom">
          <a href="https://github.com/c0m/CrochetConvert" class="fa fa-github"></a>
    </footer>
</div>