@page "/"
@using CrochetConvert.Shared

<textarea id="input-box" @bind="InputBoxText" placeholder="Input">
</textarea>

<div class="convert-buttons">
    <button class="btn btn-primary" @onclick="()=>CreateOutputText(0)">UK to US</button>
    <button class="btn btn-primary" @onclick="()=>CreateOutputText(1)">US to UK</button>
</div>
    

<textarea id="output-box" @bind="OutputBoxText" placeholder="Output" readonly>
</textarea>